<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2>Products</h2>
    <a href="/shoppingcart" class="btn btn-secondary">🛒 View Cart</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>isbn</th>
                <th>Price (€)</th>
                <th>Category</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="product : ${products}">
                <td th:text="${product.name}"></td>
                <td th:text="${product.isbn}"></td>
                <td th:text="${product.price}"></td>
                <td th:text="${product.category.name}"></td>
                <td>
                    <a th:href="@{/shoppingcart/add/{id}(id=${product.id})}" class="btn btn-primary">Add to Cart</a>
                </td>                
                <td sec:authorize="hasAuthority('ADMIN')">
                    <a th:href="@{/deleteproduct/{id}(id=${product.id})}"
                        class="delete-button btn btn-danger">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
    <br />
    <td sec:authorize="hasAuthority('ADMIN')">
        <a href="/addproduct" class="btn btn-success">Add Product</a>
    </td>
</body>

</html>