<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Page</title>
</head>
<body>
    <h2>Welcome To My Store!</h2>
    <a href="/productlist" class="btn btn-success">products</a>
    <div th:if="${#authorization.expression('isAuthenticated()')}">
        Logged in as <span th:text="${#authentication.name}">user</span> |
        <a th:href="@{/logout}">Logout</a>
    </div>

    <div th:if="${#authorization.expression('!isAuthenticated()')}">
        <a th:href="@{/login}">Login</a>
    </div>
</body>
</html>